<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/styles.css}" href="../../css/styles.css" />
    <script type="text/javascript">
        var GoToHomePage = function ()
        {
            window.location = '/';
        };
    </script>
</head>
<body>
<header>
    <h2>SOA based Machine Learning</h2>
</header>

<section>
    <article>
        <div th:if="${message}">
            <h2 th:text="${message}"/>
        </div>
        <div>
            <p>Click here to go to <a onclick="javascript:GoToHomePage()" href="javascript:void(0)">Home page</a>
            </p>
        </div>
    </article>
</section>

<footer>
    <p>By Amruthaa Rajan</p>
</footer>
</body>
</html>